# Compiled class files
*.class

# Gradle
.gradle
build/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Package Files
*.jar
*.war
*.ear

# IDE files
## Eclipse
.settings/
.project
.classpath
.studio
.apt_generated
.factorypath
.springBeans

## IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
# On conserve la définition des sources de données
!.idea/dataSources/
!.idea/dataSources.xml
!.idea/dataSources.local.xml
!.idea/sqldialects.xml

## VSCode
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
logback.out.xml

# Frontend specific
## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

## Build artifacts
frontend/dist/
frontend/dist-ssr/
frontend/target/
frontend/coverage/
frontend/node/
frontend/test-output/
frontend/tests/e2e/reports/
frontend/tests/unit/coverage/

## Vue/Vite
*.local
.env.local
.env.*.local

# Backend specific
backend/src/main/resources/public/
backend/target/

# Misc
security/target/
selenium-debug.log